*box-sizing:border-box;
html, body{
	height:100%;
	font-size:100%;
}
body{
	ackground: rgba(38, 38, 38, 1);
	ackground:green;
background:rgb(255,248,231);
	ackground-image: linear-gradient(to right, #434343 0%, black 100%);
	
	padding:10px;
}
h1.suka{
	font-size: 3rem;
	line-height: 1.5;
	olor:white;
}
p.p{
margin-top:2em;
margin-bottom:2em;
	line-height: 1.5;
	olor:white;
	font-size: 1.4rem;
	letter-spacing: 1px;
	font-family:"Gill Sans";
	letter-spacing:1px;
}
article#introduce{
width:70%;
margin:0 auto;	
padding-top:20px;
padding-bottom:20px;
}

.left-img{
  width:200px;
  height:200px;
  margin-top:2em;
	float:left;
	background-image:url(/face1.png);
	background-position: center;
			background-size: 100%;
			background-repeat: no-repeat;
	/*shape-outside: circle(50%);*/
	shape-image-outside:url(/face1.png);
	shape-image-threshold: 0.9;
}
.right-img{
  width:200px;
  height:200px;
	float:right;
	background-image:url(/face2.png);
	background-position: center;
			background-size: 100%;
			background-repeat: no-repeat;
	/*shape-outside: circle(50%);*/
	shpe-image-outside:url(/face2.png);
	shape-image-threshold: 0;
}
#mainfooter{
	background:rgb(250,240,190);
	margin-top:40px;
	border-radius: 5px;
}
#footersection{
display: grid;
	grid-template-columns: auto 300px;
}
.fbox{
	border:1px solid transparent;
	display:flex;
}
.fbox2{
justify-self: center;
	border:1px solid transparent;
	display:flex;
}
.social{
	display:inline-block;
	padding:10px;
	align-self:center;
}
.img{
	border:1px solid transparent;
	align-self:center;
	margin-left:10px;
	
	width:50px;
	height:50px;
}
.img img{
	
	width:100%;
	height:100%;
}
img.twitter{
	object-fit:cover;
	transform:scale(1.2,1.2);
}
@media screen and (max-width: 501px){
				html,body{
					ackground: green;
					fnt-size:70%;
				}
				h1.suka{
	font-size: 1.9rem;
	}
	article#introduce{
width:100%;
margin-left:2px;
margin-right:2px;

padding-left:2px;
padding-right:2px;

}
#footersection{
	display:block;
}
.fbox2{
	justify-self:center;
	justify-content: center;
 align-items: center;
}
}

